body {
	background-color: #fff;
}

.sm {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-default {
    background-image: -webkit-linear-gradient(top,#181818 0,#050505 100%);
    background-image: -o-linear-gradient(top,#181818 0,#050505 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#181818),to(#050505));
    background-image: linear-gradient(to bottom,#181818 0,#050505 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181818', endColorstr='#050505', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(12, 12, 12, 0.15), 0 1px 5px rgba(0,0,0,.075);
}

.navbar-brand {
    padding: 10px 15px;
}

.slider {
	background-image: url("../img/fondo_slider.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 454px;
	background-color: #050404;
}
.div-gradient {
	display: block;
	height: 2px;
	width: 100%;
	background: #c92324; /* Old browsers */
	background: -moz-linear-gradient(left,  #c92324 0%, #7d0c81 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #c92324 0%,#7d0c81 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #c92324 0%,#7d0c81 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92324', endColorstr='#7d0c81',GradientType=1 ); /* IE6-9 */
}

.btn_slider {
	background-image: url("../img/boton_slider.png");
	background-repeat:no-repeat;
	background-position: center;
	height: 51px;
	background-color: #fff;
}

.txt_slider {
	padding-top: 100px;
	color: #fff;
}

.txt_top {
	height: 79px;
	background-image: url("../img/lineas_top.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
}

.txt_top > h4 {
	padding-top: 20px;
}
.txt_top > h2 {
	margin-top: 10px;
}

.centrar{
	display: block;
	text-align: center;
}

.btn_flecha {
	padding-top: 10px;
}

.blq_modelos {
	margin-top: 50px; 
}

.model {
	display: block;
	height: 380px;
}

/* Laptop o Pc de baja resolución*/
@media all and (min-width: 1024px){
	.navbar-nav{
	float: right;
	}
}
/* Tablets */
@media (min-width: 768px) and (max-width: 1023px){
	.nav>li>a {
	    padding: 15px 5px;
	}
}
/* Celulares */
@media (max-width: 767px){
	.navbar-nav{
	float: none;
	text-align: center;
	}
	.txt_slider {
		display: none;
	}
}
